.header-container {
  width: 980px;
  margin: 0 auto;
}

.panduit-main-nav .dropdown-menu.multi-level {
  top: 200%;
}

.dropdown-menu{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.dropdown-submenu {
    position: initial;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 101%;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    background: transparent;
}

.dropdown-menu>li>a {
  white-space: normal;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.panduit-hamburger-footer-nav {
  display: none;
}

.panduit-search-box .form-group {
  position: relative;
}

.panduit-eyebrow-nav a img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  display: inline;
}

.navbar-right>li.panduit-find-partner>a {
  padding: 13px 0;
  display: inline-block;
}
ul.dropdown-menu.multi-level::before {
    content: '';
    background: #F6F6F6;
    width: 1280px;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.dropdown-submenu>a:after, .dropdown-submenu>a i {
  display: none;
}
@media all and (max-width: 768px) {
  .header-container {
    width: 100%;
  }

  .panduit-navbar .navbar-collapse.collapse.in {
    width: 90%;
  }

  .panduit-main-nav .dropdown-menu.active {
    position: absolute;
    width: 100%;
    height: 419px;
    overflow-x: hidden;
    top: 100%;
  }

  .panduit-main-nav .dropdown-menu.multi-level.active, li.dropdown-submenu.active.show-menu {
    position: absolute;
    top: 0;
    left: -100%;
    right: 0%;
    background: #fff;
    width: 100%;
    height: 100%;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.35s;
  }

  .panduit-main-nav .dropdown-menu.multi-level.active{
    top: 100%;
    height: 560px;
  }

  ul.dropdown-menu.multi-level::before {
    width: 100%;
    background: #EFEFEF;
  }

  .panduit-search-box, .panduit-eyebrow-nav{
      display: none;
  }
  .panduit-hamburger-footer-nav {
    display: block;
  }

  .panduit-hamburger-footer-nav .pdt-footer-link a {
    color: #545559;
  }

  .panduit-hamburger-footer-nav .pdt-more-info-soc {
    background: #EFEFEF;
  }

  .panduit-hamburger-footer-nav .pdt-more-info-soc i {
      color: #56575A;
  }

  .panduit-hamburger-footer-nav .pdt-footer-link a {
    text-transform: none;
  }

  .panduit-main-nav li.open > .dropdown-toggle::after, .dropdown-submenu.active>a i.caret, .dropdown-submenu:hover>.dropdown-menu{
    display: none;
  }
  .dropdown-submenu.active:hover>.dropdown-menu{
    display: block;
  }

  .dropdown-submenu>a i.caret, .panduit-navbar li .dropdown-toggle i.caret {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 6px solid;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    float: right;
  }

  .dropdown-submenu.active>a i.caret.caret-right, .panduit-navbar li.open > .dropdown-toggle i.caret {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid;
    border-left: 0px;
    float: left;
  }
}
